<a href="https://colab.research.google.com/github/nanditha00/python-new/blob/practice-programs/functions_practice_prblms.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def add(n1,n2):
        add=n1+n2
        print("the addition of two numbers is:",add)
def mul(n1,n2):
        mul=n1*n2
        print("the mul of two numbers is :",mul)
n1=4
n2=5
add(n1,n2)
mul(n1,n2)

the addition of two numbers is: 9
the mul of two numbers is : 20

In [ ]:
def myFun(*argv):
    for arg in argv:
        print (arg)
   
myFun('Hello', 'Welcome', 'to', 'GeeksforGeeks')

Hello
Welcome
to
GeeksforGeeks

In [ ]:
dict={"name":"nandu","subj":"python"}
for key in dict:
  print(key)

name
subj

In [ ]:
set1={"apple","mango","orange","pineapple"}
set2={"grapes","watermelon","orange","mango","pineapple"}
set_difference=set2.difference(set1)
print(set_difference)
set_intersection=set1.intersection(set2)
print(set_intersection)

{'watermelon', 'grapes'}
{'orange', 'mango', 'pineapple'}

In [ ]:
def list1():
          listx=[1,7,9,2]
print("the max among the list elements is:",max(listx))
listy=[2,10]
print("the min among the list elements is:",min(listy))
list1()

the max among the list elements is: 9
the min among the list elements is: 2

In [ ]:
list1=["apples","mangoes","banana","orange"]
list2=["pineapple","watermelon","banana","orange"]
a=set(list1)
b=set(list2)
print(a)
print(b)
list_difference=a.difference(b)
print(list_difference)

{'banana', 'orange', 'apples', 'mangoes'}
{'watermelon', 'orange', 'banana', 'pineapple'}
{'apples', 'mangoes'}

In [ ]:
def min():
  a=list.sort()
  b=len(list)
  print("second minimum num is:",list[1])
list=['1','5','6','3']
min()

second minimum num is: 3
second maximum num is : 4

In [ ]:
def max():
  list.sort(reverse=True)
  b=list.copy()
  print("second maximum num is:",b[1])
list=[5,9,10,1]
max()

second maximum num is: 9

In [ ]:
my_list = [23, 42, 67, 89, 11, 32]
print("The list is" )
print(my_list)
print("The resultant tuple is :")
my_result = [(val,val**2) , for val in my_list]
print(my_result)

SyntaxError: ignored

In [ ]:
#tuples in list with num and their squares
def values():
  result=[(val,val**2)for val in list]
  print(result)
list=[12,14,8,9]
values()

[(12, 144), (14, 196), (8, 64), (9, 81)]

In [ ]:
#prgrm to generate a num in dict and its square
def dicto():
      for x in dict:
                  dict[x]=x*x
      print(dict)
dict={2:"",3:"",5:"",8:""}
dicto()

{2: 4, 3: 9, 5: 25, 8: 64}

In [ ]:
#prgrm to print the max and min value in a dict
dict={3,1,10,6,0}
a=list(dict)
a.sort()
print(dict)
print("the max of dict is:",a[4])
print(a)

{0, 1, 3, 6, 10}
the max of dict is: 10
[0, 1, 3, 6, 10]

In [ ]:
def prime():
  for i in range(25,50):
        c=0
        for x in range(1,i+1):
            if i%x==0:
              c=c+1
        if c<=2:
         print(i)
prime()

29
31
37
41
43
47

In [ ]:
def reapeatNumTimes(n):
    list=[]
    for i in range(1,n+1):
                for x in range(i):
                     list.append(i)
    print(list)
reapeatNumTimes(4)

[1, 2, 2, 3, 3, 3, 4, 4, 4, 4]

In [ ]:
def reapeatNumTimes(n):
    list=[]
    for i in range(1,n+1):
                for x in range(i):
                     list.append(i)
    return(list)
reapeatNumTimes(4)

[1, 2, 2, 3, 3, 3, 4, 4, 4, 4]