<a href="https://colab.research.google.com/github/nanditha00/python-new/blob/MODULE-2/module_2_new.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
##recursive function to compute gcd of 2 numbers
def gcd(a,b):
  if(b==0):
    return a
  else:
    return gcd(b,a%b)
a=int(input("enter first number:"))
b=int(input("enter second number:"))
gcd=gcd(a,b)
print("gcd is:")
print(gcd)

enter first number:4
enter second number:5
gcd is:
1

In [ ]:
##Program to print a specified list after removing the 0th, 4th and 5th elements. 
colours=['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow'] 
colours.pop(0)
colours.pop(4)
colours.pop(-1)
print(colours)

['Green', 'White', 'Black']

In [ ]:
#difference between lists
def Diff(li1, li2):
                return list(set(li1) - set(li2)) + list(set(li2) - set(li1))
li1 = [10, 15, 20, 25, 30, 35, 40]
li2 = [25, 40, 35]
print(Diff(li1, li2))

[10, 20, 30, 15]

In [ ]:
##to compute ncr
def nCr(a,b):
       return(fact(a)/(fact(b)*fact(a-b)))
a=int(input(""))
b=int(input(""))
def fact(a):
  res=1
  for i in range(2,a+1):
    res=res*i
  return res
print(int(nCr(a,b)))

5
3
10

In [ ]:
##recursive function to find product of two numbers
def product(num1,num2):
  if(num1<num2):
    return product(num2,num1)
  elif(num2!=0):
    return(num1+product(num1,num2-1))
  else:
    return 0
num1=int(input("enter first number:"))
num2=int(input("enter second number:"))
print("product is:",product(num1,num2))

enter first number:3
enter second number:5
product is: 15

In [ ]:
##recursive func to find fibonacci series
def fibo(n):
  if n<=1:
    return n
  else:
    return(fibo(n-1)+fibo(n-2))
nterms=int(input("num of terms"))
if nterms<0:
  print("enter a positive integer")
else:
  print("fibonacci sequence:")
  for i in range(nterms):
    print(fibo(i))

num of terms5
fibonacci sequence:
0
1
1
2
3

In [ ]:
#prgrm to find the difference between two lists
a=[1,2,3,4]
b=[1,3,5,2]
difference=[]
for x in a:
  if x not in b:
    difference.append(x)
print(difference)

[4]

In [ ]:
#prgrm to generate a num in dict and its square
def dicto():
      for x in dict:
                  dict[x]=x*x
      print(dict)
dict={1:"",2:"",3:"",4:"",5:""}
dicto()

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
#prgrm to print the max and min value in a dict
dict={3,1,10,6,0}
a=list(dict)
a.sort()
print(dict)
print("the max of dict is:",a[4])
print(a)

{0, 1, 3, 6, 10}
the max of dict is: 10
[0, 1, 3, 6, 10]

In [ ]:
#program to find the second minimum number
def min():
  a=list.sort()
  b=len(list)
  print("second minimum num is:",list[1])
list=['1','5','6','3']
min()

second minimum num is: 3

In [ ]:
#program to print the second maximum number
def max():
  list.sort(reverse=True)
  b=list.copy()
  print("second maximum num is:",b[1])
list=[5,9,10,1]
max()

second maximum num is: 9

In [ ]:
#Given a list of numbers of list, write a Python program to create a list of tuples
#having first element as the number and second element as the square of the
#number
def values():
  result=[(val,val**2)for val in list]
  print(result)
list=[12,14,8,9]
values()

[(12, 144), (14, 196), (8, 64), (9, 81)]

In [ ]:
#Program to get the maximum and minimum value in a dictionary
dict={3,1,10,6,0}
a=list(dict)
a.sort()
print(dict)
print("the max of dict is:",a[4])
print(a)

TypeError: ignored

In [ ]:
### Program to remove a key from a dictionary
myDict = {'a':1,'b':2,'c':3,'d':4}
print(myDict)
if 'a' in myDict:
                                                                            del myDict['a']
print(myDict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{'b': 2, 'c': 3, 'd': 4}

In [ ]:
#Program to count the number of strings where the string length is 2 or more and
def match_words(words):
  ctr = 0

  for word in words:
    if len(word) > 1 and word[0] == word[-1]:
      ctr += 1
  return ctr

print(match_words(['abc', 'xyz', 'aba', '1221']))

In [ ]:
#Given list of tuples, remove all the tuples with length K. 
list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]
b=[]
k=2
for x in a:
      if len(x)!=k:
              b.append(x)
print(b)

TypeError: ignored

In [ ]:
#program to generate and print a dictionary that contains a number(between 1 and n) in the form(x,x*x)
a=int(input("enter the amount of number's"))
b=dict()
for x in range(a):
  b[x]=x*x
print(b)

enter the amount of number's5
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [ ]:
#program to perform operations on string using unicodes,splitting of string,accessing elements of string using locations
a="hi hello"
print(a.split())
print(a[2:5])

['hi', 'hello']
 he

In [ ]:
#program for counting occurance of a certain element in a string,getting indexes that have matching elements
a="hi,bye,hello"
print(a.count("h"))

2

In [ ]:
#program for replacing one substring by another 
a="rabbit"
print(a.replace("b","c"))

raccit

In [ ]:
#program to acronym generator for any user input
import random
a=input("enter the command")
if "roll"==a:
  for x in range(6):
    a=random.randint(1,6)
    print(a)

enter the commandroll
4
1
4
6
5
4

In [ ]:
#python functions that accepts a string and calculates the number of uppercase letters and lowercase letters
def string(a):
  u=0;l=0
  for x in a:
    if x.isupper():
      u=u+1
    else:
      l=l+1
  print("the lower values",l)
  print("higher values",u)
string("NANdithA")

the lower values 4
higher values 4

In [ ]:
#sample list
a=['abc','xyz','aba','1221']
c=0
for x in a:
  if len(x)>=2:
    if x[0]==x[-1]:
      c=c+1
print("the string of length 2 is",c)

the string of length 2 is 2