<a href="https://colab.research.google.com/github/nanditha00/python-new/blob/MODULE-3/module_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#to read an entire text file
f=open("C:\\Users\Cloud\Desktop\\nanz.txt","r")
print(f.read())

hello all
this is nanditha
welcome to my world!
kindly get lost

In [ ]:
#read the first n lines of a file
f=open("C:\\Users\Cloud\Desktop\\nanz.txt","r")
print(f.readline(7))

hello a

In [ ]:
#append text to a file and display the text.
f=open("C:\\Users\Cloud\Desktop\\nanz.txt","a")
a=f.write("\nokay")
f.close()
f=open("C:\\Users\Cloud\Desktop\\nanz.txt","r")
print(f.read())

hello all
this is nanditha
welcome to my world!
kindly get lost
okay

In [ ]:
#Read numbers from a file and write even and odd numbers to separate files
f=open("C:\\Users\Cloud\Desktop\\nums.txt","w")
f.write("123456")
f.close()
f=open("C:\\Users\Cloud\Desktop\\nums.txt","r")
a=(f.read())
c=[]
for i in a:
    c.append(int(i))
for x in c:
    if x%2==0:
        print("even number:",x)
    else:
        print("odd number:",x)

odd number: 1
even number: 2
odd number: 3
even number: 4
odd number: 5
even number: 6

In [ ]:
#To write a list to a file.
f=open("C:\\Users\Cloud\Desktop\\nums.txt","w")
f.write("['1','2','3','4','5','6']")
f.close()
f=open("C:\\Users\Cloud\Desktop\\nums.txt","r")
print(f.read())

['1','2','3','4','5','6']

In [ ]:
#Given a CSV file or excel file to read it into a dataframe and display it.
import pandas as pd
df=pd.read_csv("python excel.csv")
a=pd.DataFrame(df)
print(a)

   s.no  non-veg         veg  orders
0     1  chicken  fried rice      23
1     2   mutton      potato      54
2     3     fish     brinjal      89
3     4   prawns         dal      67
4     5  octopus      sambar      56
5     6    kabab        rice      12
6     7    crabs      sambar      23
7     8  chicken     brinjal      34
8     9   mutton      potato      78
9    10   prawns  fried rice      56

In [ ]:
#Given a dataframe, select rows based on a condition.
import pandas as pd
df=pd.read_csv("python excel.csv")
a=pd.DataFrame(df)
b=int(input("enter any number"))
print(a.loc[b])

enter any number5
s.no           6
non-veg    kabab
veg         rice
orders        12
Name: 5, dtype: object

In [ ]:
#Given is a dataframe showing the name, occupation, salary of people. Find the
#average salary per occupation.
import pandas as pd
df=pd.read_csv("python occupaton.csv")
a=pd.DataFrame(df)
for x in a: