<a href="https://colab.research.google.com/github/nanditha00/python-new/blob/practice-programs/python_exercise_1196(nanditha)_Copy1_checkpoint.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## average of three numbers

In [ ]:
a=10;
b=20;
c=30;
avg=(a+b+c)/3;
print(avg);
print(type(avg));

20.0
<class 'float'>

In [ ]:
print("enter number:")

enter number:


scan()
print(enter number 2:);
avg=(number 1+number 2)/2
print(type(avg))

## multiplication of two numbers in static

In [ ]:
a=4
b=7
mul=a*b
print(mul)
print(type(mul))

28
<class 'int'>

## addition of two numbers in dynamic

In [ ]:
a=int(input("enter the first number"))
b=int(input("enter the second number"))
c=a+b
print(c)
print(type(c))

enter the first number10
enter the second number2
12
<class 'int'>

## multiplication  and division of two numbers in dynamic

In [ ]:
a=int(input("enter the first number"))
b=int(input("enter the second number"))
c=a*b
d=a/b
print(c)
print(type(c))
print(d)
print(type(d))

enter the first number25
enter the second number5
125
<class 'int'>
5.0
<class 'float'>

## addition of strings

In [ ]:
a="nan"
b="ditha"
c=a+b
print(c)
print(type(c))

nanditha
<class 'str'>

## addition of two strings in dynamic

In [ ]:
a=(input("enter a string"))
b=(input("enter another string"))
c=a+b
print(type(c))
print(c)

enter a stringnan
enter another stringditha
<class 'str'>
nanditha

## type conversions

#### converting int to float

In [ ]:
a=10
b=float(a)
print(b)
print(type(b))

10.0
<class 'float'>

#### converting float to int

In [ ]:
a=105.6
b=int(a)
print(b)
print(type(b))

105
<class 'int'>

#### converting int to string

In [ ]:
a=10
b=str(a)
print(type(b))

<class 'str'>

### conversion of string to int is not possible(only when values are given in alphabets)

## boolean

In [ ]:
a=10
b=1
c=(bool(a==b))
print(c)

False

## conversion of boolean into int

In [ ]:
a=1
b=1
c=(a==b)
print(c)
d=int(c)
print(d)

True
1

In [ ]:
### conversion of boolean to float:
a=6
b=6
c=bool(a==b)
print(type(c))
d=float(c)
print(type(d))
print(d)

<class 'bool'>
<class 'float'>
1.0

## conversion of boolean to string

In [ ]:
a=6
b=6
c=bool(a==b)
print(type(c));print(c)

<class 'bool'>
True

## conversion of complex to int is not possible

In [ ]:
a=3+8j
print(type(a))

<class 'complex'>

## control statements

In [ ]:
a=20
if a>18:
    print("eligible for voting")
else:
    print("not eligible for voting")

eligible for voting

In [ ]:
a=int(input("enter your age\t"))
if(a>18):
    print("eligible for voting")
else:
    print("not eligible for voting")

enter your age	17
not eligible for voting

In [ ]:
a=int(input("enter any number"))
if(a/5==0):
    print("the given number is divisible by 5")
else:
    print("not divisible by 5")

enter any number5
not divisible by 5 and 11

In [ ]:
a=int(input("enter any number\t"))
b=int(input("enter the second number\t"))
c=int(input("enter the third number\t"))
if a>b and a>c:
    print("a is maximum")
elif b>a and b>c:
    print("b is maximum")
else:
    print("c is maximum")

enter any number	7
enter the second number	8
enter the third number	5
b is maximum

In [ ]:
for i in range(1,100):
    if i%2==0:
        print("even numbers are",i)
    else:
        print("odd numbers are ",i)

odd numbers are  1
even numbers are 2
odd numbers are  3
even numbers are 4
odd numbers are  5
even numbers are 6
odd numbers are  7
even numbers are 8
odd numbers are  9
even numbers are 10
odd numbers are  11
even numbers are 12
odd numbers are  13
even numbers are 14
odd numbers are  15
even numbers are 16
odd numbers are  17
even numbers are 18
odd numbers are  19
even numbers are 20
odd numbers are  21
even numbers are 22
odd numbers are  23
even numbers are 24
odd numbers are  25
even numbers are 26
odd numbers are  27
even numbers are 28
odd numbers are  29
even numbers are 30
odd numbers are  31
even numbers are 32
odd numbers are  33
even numbers are 34
odd numbers are  35
even numbers are 36
odd numbers are  37
even numbers are 38
odd numbers are  39
even numbers are 40
odd numbers are  41
even numbers are 42
odd numbers are  43
even numbers are 44
odd numbers are  45
even numbers are 46
odd numbers are  47
even numbers are 48
odd numbers are  49
even numbers are 50
odd numbers are  51
even numbers are 52
odd numbers are  53
even numbers are 54
odd numbers are  55
even numbers are 56
odd numbers are  57
even numbers are 58
odd numbers are  59
even numbers are 60
odd numbers are  61
even numbers are 62
odd numbers are  63
even numbers are 64
odd numbers are  65
even numbers are 66
odd numbers are  67
even numbers are 68
odd numbers are  69
even numbers are 70
odd numbers are  71
even numbers are 72
odd numbers are  73
even numbers are 74
odd numbers are  75
even numbers are 76
odd numbers are  77
even numbers are 78
odd numbers are  79
even numbers are 80
odd numbers are  81
even numbers are 82
odd numbers are  83
even numbers are 84
odd numbers are  85
even numbers are 86
odd numbers are  87
even numbers are 88
odd numbers are  89
even numbers are 90
odd numbers are  91
even numbers are 92
odd numbers are  93
even numbers are 94
odd numbers are  95
even numbers are 96
odd numbers are  97
even numbers are 98
odd numbers are  99

In [ ]:
a=int(input("enter the first number in the range"))
b=int(input("enter the second number in the range"))
for i in range(a,b):
    if i%2==0:
        print("even numbers are",i)
    else:
        print("odd numbers are ",i)

enter the first number in the range0
enyter the second number in the range35
even numbers are 0
odd numbers are  1
even numbers are 2
odd numbers are  3
even numbers are 4
odd numbers are  5
even numbers are 6
odd numbers are  7
even numbers are 8
odd numbers are  9
even numbers are 10
odd numbers are  11
even numbers are 12
odd numbers are  13
even numbers are 14
odd numbers are  15
even numbers are 16
odd numbers are  17
even numbers are 18
odd numbers are  19
even numbers are 20
odd numbers are  21
even numbers are 22
odd numbers are  23
even numbers are 24
odd numbers are  25
even numbers are 26
odd numbers are  27
even numbers are 28
odd numbers are  29
even numbers are 30
odd numbers are  31
even numbers are 32
odd numbers are  33
even numbers are 34

In [ ]:
i=1
while i<=10:
    print(i*2)
    i=i+1

2
4
6
8
10
12
14
16
18
20

In [ ]:
a=int(input("enter any year"))
if a%4==0:
    print("the entered year is a leap year")
else:
    print("the entered year is not a leap year")

enter any year2004
the entered year is a leap year

In [ ]:
a=int(input("enter the first side of the triangle"))
b=int(input("enter the second side of the triangle"))
c=int(input("enter the third side of the triangle"))
if(a==b==c):
    print("equilateral triangle")
elif a==b!=c or a!=b==c or a==c!=b:
    print("isosceles triangle")
else:
    print("scalene triangle")

enter the first side of the triangle5
enter the second side of the triangle6
enter the third side of the triangle7
scalene triangle

In [ ]:
import math
a=int(input("enter the value of a"))
b=int(input("enter the value of b"))
c=int(input("enter the value of c"))
print(b*b-(4*a*c)

enter the value of a4
enter the value of b5
enter the value of c2

ValueError: math domain error

In [ ]:
a=int(input("enter the number of rows"))
b=int(input("enter the number of col"))
for i in range (1,a):
    for j in range(i,b):
        print("*")
        print("\n")

enter the number of rows3
enter the number of col2
*

In [ ]:
fruits=["orange","musk melon","apple","jackfruit"]
print(fruits)
print(fruits[0])  #printing only the first fruit name acc to index values
print(fruits[3])
print(fruits[-2])  #printing the last second fruit from the list
print(fruits[:3])  #prints the fruit names upto 3 positions
print(fruits[1:])  #prints 
print(fruits[0:3]) #starts from index 0 and prints till position 3
print(len(fruits))

['orange', 'musk melon', 'apple', 'jackfruit']
orange
jackfruit
apple
['orange', 'musk melon', 'apple']
['musk melon', 'apple', 'jackfruit']
['orange', 'musk melon', 'apple']
4

In [ ]:
fruits=["orange","musk melon","apple","jackfruit"]
print(fruits)
fruits.append("guava")   # adding the fruit name at the end
print(fruits)
a=input("enter any fruit name")  #entering the fruit name dynamically
fruits.insert(3,a)  #inserting the fruit name in a particular position
print(fruits)
fruits.remove("musk melon")  #removing a fruit name from the list 
print(fruits)               # to remove an element we can use either remove or pop
fruits.pop(0)
print(fruits)                             #pop is used to remove index value
                             #tuple does not allow duplicate values represented by ()
                             #list will allow duplicate values represented by[]

['orange', 'musk melon', 'apple', 'jackfruit']
['orange', 'musk melon', 'apple', 'jackfruit', 'guava']
enter any fruit namegrapes
['orange', 'musk melon', 'apple', 'grapes', 'jackfruit', 'guava']
['orange', 'apple', 'grapes', 'jackfruit', 'guava']
['apple', 'grapes', 'jackfruit', 'guava']

In [ ]:
num=[9,1,5,0]
num.sort()   #arranges the entered numbers in ascending order
print(num)
num.sort(reverse= True)   #arranges the entered numbers in descending order
print(num)
fruits=["apple","orange","banana"]
fruits.sort(reverse= True)
print(fruits)
alph=['B','C','f']
alph.sort()
print(alph)
alph.sort(reverse= True)
print(alph)

[0, 1, 5, 9]
[9, 5, 1, 0]
['orange', 'banana', 'apple']
['B', 'C', 'f']
['f', 'C', 'B']