<a href="https://colab.research.google.com/github/nanditha00/python-new/blob/practice-programs/strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
## upper to lower and vice versa
a="nandu"
print(a.upper())
b="NANDU"
print(b.lower())

NANDU
nandu

In [ ]:
##slicing
a="nanditha patnaik"
print(a[1:4])

and

In [ ]:
##strip(to remove the spaces at the beginning)
a="   nanditha patnaik"
print(a.strip())
b="dobby brown  "
print(b.strip())

nanditha patnaik
dobby brown

In [ ]:
##replacing the alphabets
a="dobby"
print(a.replace("y","ie"))

dobbie

In [ ]:
##split to seperate two words or sentences
a="watermelon sugar"
print(a.split())

['watermelon', 'sugar']

In [ ]:
##merging two strings
a="nandu"
b="dobby"
c="chandu"
d=a+" "+b+" "+c
print(d)
print(d.split())

nandu dobby chandu
['nandu', 'dobby', 'chandu']

In [ ]:
##format(to combine a string and an integer)
age='17'
name="nanditha  {}"
print(name.format(age))

nanditha  17

In [ ]:
##format in dynamic
notebook=int(input("enter the number of notebooks"))
print(notebook)
pens=int(input("enter the number of pens"))
print(pens)
chocolates='7'
mylist="i want {} notebooks ,{} pens and {} chocolates"
print(mylist.format(notebook,pens,chocolates))

enter the number of notebooks5
5
enter the number of pens7
7
i want 5 notebooks ,7 pens and 7 chocolates

In [ ]:
##format by giving index values
price='90'
name="hot chocolate"
statement="i want {1} of price {0}"
print(statement.format(price,name))

i want hot chocolate of price 90

In [ ]:
##escape characters
a="nandu 'hello' "
print(a)

nandu 'hello'

In [ ]:
a="dobby\nnandu"
print(a)
b="dobby\tnandu"
print(b)
c="dobbyy\b"
print(c)

dobby
nandu
dobby	nandu
dobbyy

In [ ]:
a="nandu"
b=a.capitalize()
print(b)
c="Dobby"
d=c.casefold()
print(d)
print(d.center(158))

Nandu
dobby
                                                                            dobby

In [ ]:
#count
a="hello world welcome to my world"
print(a.count("d"))

2

In [ ]:
stat="rrr has been released"
for rrr in stat

SyntaxError: ignored