<a href="https://colab.research.google.com/github/nanditha00/python-new/blob/practice-programs/tuple_and_sets_and_dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
tuple=("apple","mango","pineapple")
b=list(tuple)
print(b)

['apple', 'mango', 'pineapple']

In [ ]:
a=("apple",)
print(type(a))

<class 'tuple'>

In [ ]:
a=("abc",123,True,False)
print(type(a))

<class 'tuple'>

In [ ]:
a=("fruits","veggies","greens")
print(a[2])
print(type(a))

greens
<class 'tuple'>

In [ ]:
a=("mango","guava","apple","banana")
print(a)
print(a[1:3])

('mango', 'guava', 'apple', 'banana')
('guava', 'apple')

In [ ]:
a=("maths","physics","chemistry","social")
b=list(a)
print(b)
b[1]="history"
print(b)

['maths', 'physics', 'chemistry', 'social']
['maths', 'history', 'chemistry', 'social']

In [ ]:
a=("jackfruit","mangoes","apples","banana","guava")
b=list(a)
b.append("orange")
print(b)

['jackfruit', 'mangoes', 'apples', 'banana', 'guava', 'orange']

In [ ]:
a=("jackfruit","mangoes","apples","banana","guava")
for i in range(len(a)):
                     print(i)

0
1
2
3
4

In [ ]:
a=("jackfruit","mangoes","apples","banana","guava")
b=(1,4,5,6,7)
c=a+b
print(c)
print(type(c))

('jackfruit', 'mangoes', 'apples', 'banana', 'guava', 1, 4, 5, 6, 7)
<class 'tuple'>

In [ ]:
a=("jackfruit","mangoes","apples","banana","guava")
b=a*2
print(b)

('jackfruit', 'mangoes', 'apples', 'banana', 'guava', 'jackfruit', 'mangoes', 'apples', 'banana', 'guava')

In [ ]:
a=('jackfruit', 'mangoes', 'apples', 'banana', 'guava', 'jackfruit', 'mangoes', 'apples', 'banana', 'guava')
b=a.count('guava')
print(b)
print(type(b))

2
<class 'int'>

In [ ]:
##sets

In [ ]:
a={"apple","mango","jackfruit","pineapple"}
print(a)

{'apple', 'mango', 'pineapple', 'jackfruit'}

In [ ]:
a={"apple","apple","mango"}
print(a)

{'apple', 'mango'}

In [ ]:
#to print the length of the a
a={"apple","mango","banana"}
print(len(a))

3

In [ ]:
#to print the type of the given statement (a)
a={"apple","mango","guava"}
print(type(a))

<class 'set'>

In [ ]:
#to add elememnts to the set a
a={"apple","mango","guava"}
a.add("grapes")
print(a)

{'apple', 'guava', 'grapes', 'mango'}

In [ ]:
#to combine both the sets
a={"apple","mango","guava"}
b={"cadbury","kitkat","snickers"}
a.update(b)
print(a)

{'guava', 'snickers', 'kitkat', 'mango', 'apple', 'cadbury'}

In [ ]:
#to delete a single element
a={"apple","mango","orange"}
a.discard("apple")
print(a)

{'orange', 'mango'}

In [ ]:
del----this keyword will delete the set completely

In [ ]:
#wrong prgrm
a={"apple","mango","guava"}
b={"cadbury","kitkat","snickers","apple"}
a.update(b)
print(a)
c = a.intersection(b)
print(c)
##wrong

{'guava', 'snickers', 'kitkat', 'mango', 'apple', 'cadbury'}
{'apple', 'snickers', 'kitkat', 'cadbury'}

In [ ]:
#to print the elements in a
a={"apple","mango","orange"}
for x in a:
  print(x)

apple
orange
mango

In [ ]:
#union
a={'a','b','c'}
b={1,2,3,4}
c=a.union(b)
print(c)

{1, 'c', 2, 'a', 3, 4, 'b'}

In [ ]:
#intersection update
a={"apple","mango","orange","guava"}
b={"kitkat","snickers","milkybar","apple"}
a.intersection_update(b)
print(a)

{'apple'}

In [ ]:
#symmetric difference update will keep only the elements that are not present in the list
a={"apple","mango","orange"}
b={"kitkat","snickers","milkybar","apple","mango","orange"}
a.symmetric_difference_update(b)
print(a)

{'kitkat', 'milkybar', 'snickers'}

In [ ]:
#using copy to return a copy of the entered set
b={"kitkat","snickers","milkybar","apple"}
c=b.copy()
print(c)

{'milkybar', 'apple', 'snickers', 'kitkat'}

In [ ]:
#dictionaries
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
#to print a particular brand value
dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(dict["brand"])

Ford