<a href="https://colab.research.google.com/github/nanditha00/python-new/blob/MODULE-1/vu21csen0101196_nanditha_patnaik_module_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#enter a number store in a variable and print it
a=int(input("enter any number"))
print(a)

enter any number5
5

In [ ]:
#use .format
age='17'
name= "nanditha {}"
print(name.format(age))

nanditha 17

In [ ]:
#Take 2 numbers as user input and add, multiply, divide, subtract, remainder and print
#the output
a=5
b=2
c=a+b
print(c)
d=a-b
print(d)
e=a*b
print(e)
f=a%b
print(f)

7
3
10
1

In [ ]:
#conversion of time
a=int(input("enter the time in hours"))
min=a*60
print(min)

240

In [ ]:
#conversion of temp
f=int(input("enter the temperature in farenheit"))
c=f+32
print(c)

enter the temperature in farenheit56
88

In [ ]:
#conversion of dist
a=int(input("enter the distance in kilometers"))
miles=a*0.62
print(miles)

enter the distance in kilometers5
3.1

In [ ]:
#using math functions in python
import math
a=4.567
print(math.ceil(a))
b=-9
print(math.fabs(b))
c=3.67
print(math.floor(c))
d=2**3
print(d)
e=math.sqrt(81)
print(e)

5
9.0
3
8
9.0

In [ ]:
#math calculator
a=2
b=3
print('1="addition",2="subtraction",3="multiplication",4="division"')
c=int(input("enter any number upto 4"))
if c==1:
  print(a+b)
elif c==2:
    print(a-b)
elif c==3:
      print(a*b)
elif c==4:
      print(a/b)
else:
  print(invalid)

1="addition",2="subtraction",3="multiplication",4="division"
enter any number upto 43
6

In [ ]:
#accepting subj marks and printing the grade
a=int(input("enter the first subject marks"))
b=int(input("enter the second subject marks"))
c=int(input("enter the third subject marks"))
d=int(input("enter the fourth subject marks"))
avg=(a+b+c+d)/4
print(avg)
if avg>=95.00:
  print("A grade")
elif 90<avg<95:
  print("B grade")
elif 85<avg<90:
  print("C grade")
else:
  print("D grade")

enter the first subject marks99
enter the second subject marks98
enter the third subject marks96
enter the fourth subject marks95
97.0
A grade

In [ ]:
#print all even numbers and odd numbers
for i in range(1,10):
    if i%2==0:
        print("even numbers are",i)
    else:
        print("odd numbers are ",i)

odd numbers are  1
even numbers are 2
odd numbers are  3
even numbers are 4
odd numbers are  5
even numbers are 6
odd numbers are  7
even numbers are 8
odd numbers are  9

In [ ]:
#palindrome
a=int(input("enter the number you want to find palindrome for"))
rev=0
temp=a
while temp>0:
    rem=temp%10
    rev=(rev*10)+rem
    temp=temp//10
if a==rev:
    print("palindrome")
else:
    print("not a palaindrome")

enter the number you want to find palindrome for1221
palindrome

In [ ]:
#gcd
num1 = int(input("Enter 1st number: "))
num2 = int(input("Enter 2nd number: "))
gcd=i
while (i <= num1 and i <= num2):
                          if(num1 % i == 0 and num2 % i == 0):
                                                          gcd = i
                                                          i = i + 1
                                                          print("GCD is",gcd)

Enter 1st number: 6
Enter 2nd number: 3
GCD is 3

In [ ]:
#factorial
a=int(input("enter the number"))
fact=1
for i in range(1,a+1):
                     fact=fact*i
                     print(fact)

enter the number5
1
2
6
24
120

In [ ]:
#perfect numbers
a=int(input("enter the number"))
sum=0
for i in range (1,a):
                    if a%i==0:
                             sum=sum+i
if sum==a:
         print("perfect number")
else:
     print("not a perfect number")

enter the number25
not a perfect number

In [ ]:
#si and ci
import math
p=int(input("enter the principal amount"))
r=int(input("enter the intrest amount"))
t=int(input("amount of years"))
for i in range(1,t+1):
                     si=(p*i*r)//100
                     print(i,"yr interst si is ",si)
                     ci=p*(math.pow(1+r/100,i))
                     print(i,"yr interst ci is ",ci)

enter the principal amount100
enter the intrest amount5
amount of years2
1 yr interst si is  5
1 yr interst ci is  105.0
2 yr interst si is  10
2 yr interst ci is  110.25

In [ ]:
 #fibonacci series
 a=0;b=1;n=int(input("enter number of terms u want to find plandrome for"))
print(a,b)
for i in range(1,n):
                   nextnum=a+b
                   print(nextnum)
                   a=b
                   b=nextnum
                   i=i+1

enter number of terms u want to find plandrome for56
0 1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657
46368
75025
121393
196418
317811
514229
832040
1346269
2178309
3524578
5702887
9227465
14930352
24157817
39088169
63245986
102334155
165580141
267914296
433494437
701408733
1134903170
1836311903
2971215073
4807526976
7778742049
12586269025
20365011074
32951280099
53316291173
86267571272
139583862445
225851433717